.containerAvaliacao {
  width: 80%;
  margin: 0 auto;
}

.linha {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px;
}

.containerAvaliacao label {
  font-size: 25px;
  margin-bottom: 5px;
}

.containerAvaliacao input {
  width: 100%;
  height: 30px;
  border: solid black 1px;
  border-radius: 5px;
}

.containerAvaliacao button:hover {
  cursor: pointer;
}

h1 {
    margin-top: 60px;
    text-align: center;
}

.containerAvaliacao button {
    width: 70%;
    display: block;
    margin: 0 auto;
    height: 35px;
}