.avaliacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.topicos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
}
