.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
}

.container h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 100px;
    width: 50px;
}

.container p {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 250px;
    font-size: 20px;
    margin-left: 50%;
    margin-top: 100px;
}

.botao {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 36vh;
    width: 100px;
    height: 50px;
    margin-left: 100px;
}

.redes {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20vh;
}

.redes img {
    width: 20vh;
}

.souls {
    margin-left: 100px;
    display: inline-block;
}

.on {
    background-color: purple;
    margin-top: 30vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
}

.on .foto1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 700px;
}
